<div class="row" style="margin: 0px; padding: 0px;">
    <div class="col-8" style="padding: 0px;">
        <div class="card p-5">
            <h1>Turbochat</h1>
            <p>
                This is a simple chat application built with Ruby on Rails.<br />
                It is a work in progress and is not yet fully functional.<br />
                Feel free to make an account and look around!
            </p>

            <% if current_user %>
                <% #= image_tag(current_user.avatar_thumbnail) %>
                <div class="btn-group">
                    <%= link_to "Start Chatting", rooms_path, class: "btn btn-primary" %>
                    <%= link_to "Edit Account", edit_user_registration_path, class: "btn btn-secondary" %>
                    <%= link_to "Logout", destroy_user_session_path, class: "btn btn-danger", data: { turbo_method: 'delete' } %>
                </div>
            <% else %>
                <div class="btn-group">
                    <%= link_to "Login", new_user_session_path, class: "btn btn-primary" %>
                    <%= link_to "Sign up", new_user_registration_path, class: "btn btn-secondary" %>
                </div>
            <% end %>
        </div>
    </div>

    <div style="display:none;">
        <%= turbo_stream_from "public_messages" %>
    </div>
    <div class="col-4" id="public_messages" style="overflow-x: hidden; overflow-y: scroll; height: calc(100vh - 56px); padding: 0px;">
        <% @messages.each do |message| %>
            <%= render "messages/message_preview", message: message %>
        <% end %>
    </div>
</div>
